.bio-body {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 100px;
  @media #{$breakpoint-medium} {
    top: 115px;
  }
  @media #{$breakpoint-large} {
    top: 200px;
  }
  h1 {
    margin-left: 5%;
    @media #{$breakpoint-large} {
      margin-left: 9%;
    }
  }
  .connor-pic-container {
    margin: 60px 0 0 5%;
    @media #{$breakpoint-medium} {
      margin-left: 100px;
    }
    @media #{$breakpoint-large} {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      margin: 0 50px 0 5%;
    }
    img {
      width: 50%;
      object-fit: contain;
      @media #{$breakpoint-large} {
        width: 35%;
        position: absolute;
        top: 300px;
      }
    }
  }
  .bio-copy {
    margin: 20px 20px;
    @media #{$breakpoint-medium} {
      margin: 25px 100px 25px 100px;
    }
    @media #{$breakpoint-large} {
      margin: 0 50px 25px 9%;
      .section-one {
        width: 55%;
      }
    }
    .section-two {
      h2{
        margin-top: 50px;
      }
      @media #{$breakpoint-large} {
        margin-top: 100px;
        display: flex;
        align-items: center;
        .vertical-divider {
          height: 350px;
          margin: 0 50px;
          border: solid $grey 1px;
        }
      }
      @media only screen and (min-width: 1100px) {
        margin-top: 200px;
      }
      @media only screen and (min-width: 1290px) {
        margin-top: 300px;
      }
    }
    .button-container {
      display: flex;
      justify-content: center;
      button {
        @include button;
        @media #{$breakpoint-large} {
          margin: 50px 0 100px 0;
        }
        margin: 50px 0 0 0;
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
        &:hover {
          @include button-hover;
          -webkit-transition: .2s ease-in-out;
          -moz-transition: .2s ease-in-out;
          -o-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
        }
      }
    }
    hr {
      width: 70%;
      border: solid 1.5px $grey;
      margin: 75px auto;
      @media #{$breakpoint-large} {
        display: none;
      }
    }
    .process {
      h1 {
        text-align: center;
        margin: 50px 0 25px 0;
      }
      .phases {
        .phase:nth-of-type(n+1) {
          margin-top: 50px;
        }
        @media #{$breakpoint-large} {
          display: flex;
          align-items: center;
          .vertical-divider {
            height: 500px;
            margin: 0 50px;
            border: solid $grey 1px;
          }
        }
      }
    }
  }
}
