.social-desktop {
  display: none;
}
.name-bar-dark {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 5%;
  top: 60px;
  background-color: $grey;
  width: 90%;
  height: 20px;
  @media #{$breakpoint-medium} {
    height: 35px;
  }
  @media #{$breakpoint-large} {
    height: 50px;
    width: 80%;
    left: 12.5%;
  }
}
.content {
  top: 100px;
  position: relative;
  h1 {
    margin-left: 5%;
  }
  @media #{$breakpoint-medium} {
    top: 115px;
  }
  .project-group {
    .project {
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 50px;
        img {
          object-fit: cover;
          width: 100%;
        }
        .project-title {
          position: absolute;
          // background-color: rgba(250, 250, 249, 0.7);
          padding: 3px 30px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:nth-of-type(2n+1) {
          img {
            width: 80%;
            height: 350px;
          }
        }
        &:nth-of-type(2n+2) {
          img {
            width: 90%;
            height: 300px;
          }
        }
      }
    @media #{$breakpoint-medium} {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      top: 115px;
      .project {
        margin-top: 100px;
        &:first-of-type,
        &:nth-of-type(4),
        &:nth-of-type(5) {
          width: 50%;
          img {
            height: 250px;
            width: 65%;
          }
        }
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(6) {
          width: 50%;
          img {
            height: 200px;
            width: 80%;
          }
        }
      }
    }
  }
}
