.footer {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.footer-project {
  @media #{$breakpoint-large} {
    margin-top: 350px;
  }
}
.footer-index {
  @media #{$breakpoint-large} {
    margin-top: 0;    
  }
}
