@font-face {
  font-family: "playfair-display-reg";
  src: url("../../fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "playfair-display-bold";
  src: url("../../fonts/PlayfairDisplay-Bold.ttf");
}
@font-face {
  font-family: "gotham-regular";
  src: url("../../fonts/Gotham.otf");
}
@font-face {
  font-family: "gotham-bold";
  src: url("../../fonts/Gotham-Bold.otf");
}

.name-bar-landing {
  #title {
    font-family: "playfair-display-reg";
    text-transform: uppercase;
    font-size: 35px;
    @media #{$breakpoint-medium} {
      font-size: 50px;
    }
    a {
      color: $cream;
      text-decoration: none;
      cursor: pointer;
      border: none;
      background: transparent;
    }
  }
  .nav-desktop {
    ul {
      li {
        a {
          text-decoration: none;
          color: $grey;
          font-family: "gotham-bold";
          font-size: 16px;
        }
      }
    }
  }
}
.name-bar {
  .nav-desktop-dark {
    ul {
      li {
        a {
          text-decoration: none;
          color: $cream;
          font-family: "gotham-bold";
          font-size: 16px;
        }
      }
    }
  }
}
h1 {
  font-family: "playfair-display-reg";
  text-transform: lowercase;
  font-size: 25px;
  color: $grey;
  @media #{$breakpoint-large} {
    font-size: 38px;
  }
}
h2 {
  font-family: "gotham-bold";
  text-transform: uppercase;
  font-size: 14px;
  @media #{$breakpoint-large} {
    font-size: 16px;
  }
}
.project-title {
  font-family: "gotham-bold";
  text-transform: uppercase;
  font-size: 20px;
  color: $cream;
}
p {
  font-family: "gotham-regular";
  font-size: 14px;
  letter-spacing: 1.75px;
  line-height: 45px;
  @media #{$breakpoint-large} {
    font-size: 16px;
  }
}
.social-desktop {
  i {
    font-size: 30px;
    color: $grey;
  }
  &-gold {
    i {
      font-size: 30px;
      color: $gold;
    }
  }
}
.mobile-nav-content {
  li {
    a {
      text-decoration: none;
      color: $grey;
      font-family: "gotham-bold";
      font-size: 20px;
    }
  }
  i {
    font-size: 34px;
    color: $grey;
  }
}
.nav-mobile-dark {
  .mobile-nav-content {
    i {
      color: $gold;
    }
  }
}
.what {
  li {
    font-family: "gotham-regular";
    font-size: 14px;
    letter-spacing: 1.75px;
    line-height: 45px;
    @media #{$breakpoint-large} {
      font-size: 16px;
    }
  }
}
label {
  font-family: "gotham-bold";
  text-transform: uppercase;
  font-size: 12px;
  color: $grey;
}
input {
  font-size: 24px;
  font-family: "playfair-display-reg";
  color: $grey;
}
textarea {
  font-size: 24px;
  font-family: "playfair-display-reg";
  color: $grey;
}
.footer {
  p {
    font-family: "playfair-display-bold";
    font-size: 12px;
  }
}
