@mixin button {
  background-color: $grey;
  color: $cream;
  font-family: "playfair-display-reg", serif;
  font-size: 25px;
  border: solid 3px $grey;
  padding: 10px 54px;
}

@mixin button-hover {
  background-color: $cream;
  color: $grey;
  font-family: "playfair-display-reg", serif;
  font-size: 25px;
  border: solid 3px $grey;
  padding: 10px 54px;
  div {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 100px;
      bottom: 5px;
      display: block;
      width: 15px;
      height: 15px;
      border-top: solid $grey 2px;
      border-right: solid $grey 2px;
      border-bottom: none;
      border-left: none;
      transform: rotate(45deg);
    }
  }
}
